@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my first ASP.Net Core App</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h4>Developer : Shobhit Jaiswal </h4>
<h4>Website : First website hsoted on App Server </h4>
<h4>Platform : Azure </h4>
<h4>Description :  it hosted on the azure  </h4>

