<h1>customerhome works!</h1>

<table border="1">
    <tr>
        <td><a class="mylink" routerLink="customerlink"> All Customers </a> </td>
        <td><a class="mylink" routerLink="addcustomer"> Add Customers </a> </td>
        <td><a class="mylink" routerLink="updatecustomer"> Update Customers </a> </td>
        <td><a class="mylink" routerLink="deltecustomer"> Delete Customers </a> </td>
        <td><a class="mylink" routerLink="searchcustomer"> Search Customers </a> </td>
    </tr>
</table>

<router-outlet></router-outlet>
