<!-- <p>clients works!</p>


<p>update works!</p>

<form #updatecustomer="ngForm" (ngSubmit)="restUserData.updateClient(updatecustomer)">

    <label >clientId</label>
    <input type="number" name="clientId" ngModel>
    <br>

    <label >Wallet BalaNCE</label>
    <input type="number" name="walletBalance" ngModel>
    <br>


   



    <button type="submit">UPDATE</button>

</form>


 -->
<h4>click below</h4>
<button (click)="submit(2,999)"> clickhere</button>
<!-- <button  (click)="restUserData.updateClient(clientId)"></button> -->
 <!-- <button (click)="updateClientts(clientId, walletBalance)">Update Consultant</button> -->

