<!-- <h1>products works!</h1>

<button (click)="restProductData.getProductsDetails()">Get Product</button>
<table border="1">
    <tr>
        <th>id</th>
        <th>title</th>
        <th>price</th>
        <th>description</th>
        <th>categories</th>
        <th>categories</th>
        <th>image</th>
        

    </tr>
    <tr *ngFor="let p of restProductData.productsdata ">
        <td> {{p.id}} </td>
        <td> {{p.title}} </td>
        <td> {{p.price}} </td>
        <td> {{p.description}} </td>
        <td> {{p.category}} </td>
        <td> {{p.image}} </td>
        <td> {{p.rating}} </td>
        <td> {{p.rating.rate}} </td>
        <td> {{p.rating.count}} </td>
    </tr>
</table> -->
