
<h1> My Shop WebApp </h1>
<nav>
  <!-- <a class="mylink" routerLink="/home"> Home </a>
  <a class="mylink" routerLink="/producthome"> Products </a>
  <a class="mylink" routerLink="/customerhome"> Customers </a>
  <a class="mylink" routerLink="/vendorhome"> Vendors </a>
  <a class="mylink" routerLink="/ordershome"> Orders </a>
  <a class="mylink" routerLink="/about"> About </a>
  <a class="mylink" routerLink="/contact"> Contact </a> -->
  <a class="mylink" routerLink="/login"> Login </a>
  <a class="mylink" routerLink="/register"> Register </a>
  <a class="mylink" routerLink="/home"> Home </a>

</nav>

<div class="container">
  <router-outlet></router-outlet>

</div>

<!-- <router-outlet></router-outlet> -->