<h1>producthome works!</h1>

<table border="1">
    <tr>
        <td><a class="mylink" routerLink="productlink"> All product </a> </td>
        <td><a class="mylink" routerLink="addproduct"> Add Product </a> </td>
        <td><a class="mylink" routerLink="updateproduct"> Update Product </a> </td>
        <td><a class="mylink" routerLink="delteproduct"> Delete Product </a> </td>
        <td><a class="mylink" routerLink="searchproduct"> Search Product </a> </td>
    </tr>
</table>

<router-outlet></router-outlet>
